div(class="col-sm-4 col-sm-offset-4")
  h1 Hicks Tonight
  if( title != "No user")
    p Welcome #{title}

  ul(class="nav nav-tabs")
    li(class="active")
      a(href="#status", data-toggle="tab") Status
    li 
      a(href="#ranking", data-toggle="tab") Rankings

div(class="col-sm-4 col-sm-offset-4")
  div(class="tab-content")
    div(class="tab-pane fade in active", id="status")
      div#status
        div#active
          each item in users
            if (item.active_since != -1)
              div(class="active_timer", id=item.nickname)
                  div(class="panel-body", id="active")
                    span(class="glyphicon glyphicon-user")
                    = " " + item.nickname
                    div(class="active_timer time", id=item.nickname)= item.active_since

        hr
        div#inactive
          each item in users
            if ( item.active_since == -1 )
              div(class="inactive_timer", id=item.nickname) 
                div(class="panel-body", id="inactive")
                  span(class="glyphicon glyphicon-user")
                  = " " + item.nickname
                  div(class="inactive_timer time", id=item.nickname) offline

    div(class="tab-pane fade" id="ranking")
        p ranking
    
  if !login
    if( user.active == true ) 
        form(name="checkout", action="/", method="post")
            input(type="hidden", name="checkout", value="checkout")
            input(type="hidden", name="user", value=user.username)
            input(class="btn btn-primary btn-block", type="submit", value="checkout")
    else
        form(name="checkin", action="/", method="post")
            input(type="hidden", name="checkin", value="checkin")
            input(type="hidden", name="user", value=user.username)
            input(class="btn btn-primary btn-block", type="submit", value="checkin")

  // login form
  hr
  div.footer
    if login
      div.login
        button(class="btn btn-primary btn-link", data-toggle="modal", data-target="#loginModal") signin
    else 
      form(name="signout", action="/", method="post")
        input(type="hidden", name="signout", value="signout")
        input(class="btn btn-primary btn-link", type="submit", value="signout")



//login modal
div(class="modal fade", id="loginModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
        h4(class="modal-title", id="myModalLabel") Sign in
      div.modal-body
        div.login-form
          form(name="login", action="/", method="post")
            input(class="form-control", type="text", name="user", placeholder="Email")
            input(class="form-control", type="password", name="pass", placeholder="Password")
            button(type="submit", id="btn-signin", class="btn btn-primary btn-block") sign in
