
script(src="/socket.io/socket.io.js")
script(src="/javascripts/socket.js")

div(class="col-md-4 col-md-offset-4")
  h1 Hicks Tonight
  if( title != "No user")
    p Welcome #{title}

  ul(class="nav nav-tabs")
    li(class="active")
      a(href="/") Status
    li 
      a(href="/rankings") Rankings

div(class="col-md-4 col-md-offset-4")
  div(class="fade in", id="status")
    div#active
      each item in users
        if (item.active_since != -1)
          a(href="/user/#{item.username}")
            div(class="active_timer", id=item.nickname)
              div(class="panel-body", id="active")
               span(class="glyphicon glyphicon-user")
                = " " + item.nickname
               div(class="active_timer time", id=item.nickname)= item.active_since

  hr
  div#inactive
    each item in users
      if ( item.active_since == -1 )
        a(href="/user/#{item.username}")
          div(class="inactive_timer", id=item.nickname) 
            div(class="panel-body", id="inactive")
              span(class="glyphicon glyphicon-user")
               = " " + item.nickname
              div(class="inactive_timer time", id=item.nickname) offline

    
  if !login
    if( user.active == true ) 
        form(name="checkout", action="/", method="post")
            input(type="hidden", name="checkout", value="checkout")
            input(type="hidden", name="user", value=user.username)
            input(class="btn btn-primary btn-block", type="submit", value="checkout")
    else
        form(name="checkin", action="/", method="post")
            input(type="hidden", name="checkin", value="checkin")
            input(type="hidden", name="user", value=user.username)
            input(class="btn btn-primary btn-block", type="submit", value="checkin")

  // login form
  hr
  div.footer
    if login
      div.login
        button(class="btn btn-primary btn-link", data-toggle="modal", data-target="#loginModal") signin
    else 
      form(name="signout", action="/", method="post")
        input(type="hidden", name="signout", value="signout")
        input(class="btn btn-primary btn-link", type="submit", value="signout")



//login modal
div(class="modal fade", id="loginModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
        h4(class="modal-title", id="myModalLabel") Sign in
      div.modal-body
        div.login-form
          form(name="login", action="/", method="post")
            input(class="form-control", type="text", name="user", placeholder="Email")
            input(class="form-control", type="password", name="pass", placeholder="Password")
            button(type="submit", id="btn-signin", class="btn btn-primary btn-block") sign in

//warning modal
if forced
  script(type='text/javascript').
    $(document).ready(function(){
      $('#forcedCheckoutModal').modal('show');
    })
  div(class="modal fade in", id="forcedCheckoutModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true", data-show="true")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
          h4(class="modal-title", id="myModalLabel") Warning!
        div.modal-body
          div(class="alert alert-danger")  You must stay <strong>AT LEAST 30 minutes</strong> to clock in a session. <br/> If you checkout now, your session will not be saved :(
          form(name="checkout", action="/", method="post")
            input(type="hidden", name="checkout", value="checkout")
            input(type="hidden", name="forcedCheckout", value="forcedCheckout")
            input(type="hidden", name="user", value=user.username)
            input(class="btn btn-primary btn-block", type="submit", value="checkout")
